services:
  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - healthcare_network

  migration:
    build: .
    depends_on:
      - mongodb
    env_file:
      - .env
    volumes:
      - ./data:/data
      - ./test_migration.py:/app/test_migration.py
      - ./logs:/logs 
    networks:
      - healthcare_network

volumes:
  mongo_data:

networks:
  healthcare_network:
    driver: bridge